.account {
  width: calc(100% - 256px);
}

.account .bg {
  margin: 30px 100px;
  padding: 5% 15%;

  background-color: #fff;
  box-shadow: 0 0 10px rgba(116, 116, 116, 0.08);
  border-radius: 6px;
}
.account h1 {
  text-align: center;
  margin-bottom: 60px;
}

.account h3 {
  margin-bottom: 10px;
}
.account span {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 30px;
}
@media (max-width: 1240px) {
  .account .bg {
    margin: 25px 50px;
  }
  .account {
    width: calc(100% - 190px);
  }
}
@media (max-width: 991px) {
  .account {
    width: calc(100% - 60px);
  }
  .account .bg {
    margin: 15px;
  }

  .account h1 {
    padding-top: 25px;
    margin-top: 40px;
  }
}
